.phantom-rect {
  stroke: transparent;
  fill: transparent;
}

.foreign-object {
  overflow: auto;
}

.container-controls {
  padding: 6px;
}

.custom-group {
  --custom-group--BorderColor: var(--pf-v5-global--palette--black-400);
  --custom-group--BorderSize: var(--pf-v5-global--BorderWidth--md);
  --custom-group--Background: var(--pf-v5-global--palette--white);

  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  background-color: var(--custom-group--Background);
  border-radius: var(--pf-v5-global--BorderWidth--xl);
  border: var(--custom-group--BorderSize) solid var(--custom-group--BorderColor);

  &__title {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: var(--pf-v5-global--FontSize--md);
    color: var(--pf-v5-global--palette--black-900);
    background-color: var(--pf-v5-global--palette--light-blue-400);

    &__img-circle {
      margin: 5px -10px 5px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 26px;
      height: 26px;
      border-radius: 50px;
      border: var(--custom-group--BorderSize) solid var(--custom-group--BorderColor);
      background-color: var(--pf-v5-global--palette--white);

      img {
        max-width: 20px;
        max-height: 20px;
      }
    }

    span {
      margin: 0 var(--pf-v5-global--FontSize--md);
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &:hover {
    --custom-group--BorderColor: var(--pf-v5-global--primary-color--light-100);
    --custom-group--Background: var(--pf-v5-global--palette--black-200);
  }

  &--selected {
    --custom-group--BorderColor: var(--pf-v5-global--palette--light-blue-400);
    --custom-group--Background: var(--pf-v5-global--palette--blue-50);
    --custom-group--BorderSize: var(--pf-v5-global--BorderWidth--lg);

    &:hover {
      --custom-group--BorderColor: var(--pf-v5-global--palette--light-blue-400);
      --custom-group--Background: var(--pf-v5-global--palette--blue-50);
    }
  }
}
