.source-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  &__header {
    flex: 0 0 auto;
    padding: var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--sm) 0;
  }
}
