.custom-node {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  border-radius: var(--pf-v5-global--BorderRadius--sm);
  background-color: var(--pf-v5-global--BackgroundColor--100);
  overflow: auto;
  text-align: center;

  &__image {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 50%;
    justify-content: center;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  &__label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__warning {
    --pf-topology__node_decorator--Color: var(--pf-v5-global--warning-color--100);
  }

  &:hover {
    border: 1px solid var(--pf-v5-global--primary-color--light-100);
    background-color: var(--pf-v5-global--BackgroundColor--150);
    box-shadow: var(--pf-v5-global--BoxShadow--md);
  }

  [data-selected='true'] & {
    border: 1px solid var(--pf-v5-global--primary-color--dark-100);
    background-color: var(--pf-v5-global--BackgroundColor--200);
  }

  [data-disabled='true'] & {
    filter: grayscale(100%);
    font-style: italic;
    text-decoration: line-through;
  }
}
