.foreign-object {
  overflow: auto;
}

.custom-node {
  --custom-node--BackgroundColor: var(--pf-v5-global--BackgroundColor--100);

  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  border-radius: var(--pf-v5-global--BorderRadius--sm);
  background-color: var(--custom-node--BackgroundColor);
  overflow: auto;
  text-align: center;

  &__image {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    img {
      border: 2px solid var(--pf-v5-global--BorderColor--100);
      border-radius: 10px;
      background-color: var(--custom-node--BackgroundColor);
      padding: var(--pf-v5-global--spacer--sm);
      height: 60px;
      width: 60px;
    }
  }

  &__label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__warning {
    --pf-topology__node_decorator--Color: var(--pf-v5-global--warning-color--100);
  }

  &:hover {
    --custom-node--BackgroundColor: var(--pf-v5-global--BackgroundColor--150);

    border: 1px solid var(--pf-v5-global--primary-color--light-100);
    box-shadow: var(--pf-v5-global--BoxShadow--md);
  }

  [data-selected='true'] & {
    --custom-node--BackgroundColor: var(--pf-v5-global--BackgroundColor--200);

    border: 2px solid var(--pf-v5-global--primary-color--dark-100);
  }

  [data-disabled='true'] & {
    filter: grayscale(100%);
    font-style: italic;
    text-decoration: line-through;
  }
}
